<!-- Geng Wei, Tu | 301337045 -->
<!-- portfolio section -->
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center mt-4">
        <h3 class="title-a"> Portfolio </h3>
        <div class="line-mf"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div>
        <a href="">
          <div class="work-img"> <img src="/images/portfolio-1.jpg" alt="" class="img-fluid"></div>
        </a>
        <div class="work-content">
          <div class="row">
            <div class="col-sm-10">
              <h2 class="w-title">eCommerce / SaaS (classified projects)</h2>
              <div class="w-more">
                <span class="w-ctegory">Website (FullStack/ AWS)</span> / 
                <span class="w-date">Sep. 2015</span>
              </div>
                <span class="w-date">Building and delivering robust SaaS solutions as a full-stack engineer, utilizing a range of technologies to create seamless and scalable user experiences.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <a href="">
          <div class="work-img"> <img src="/images/portfolio-2.jpg" alt="" class="img-fluid"></div>
        </a>
        <div class="work-content">
          <div class="row">
            <div class="col-sm-10">
              <h2 class="w-title">Distributed System (classified projects)</h2>
              <div class="w-more"> 
                <span class="w-ctegory">System Design / Backend </span> / 
                <span class="w-date">Sep. 2019</span>
              </div>
              <span class="w-date">Designing and implementing highly-scalable and fault-tolerant distributed systems, utilizing modern technologies to ensure reliability and performance.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <a href="">
          <div class="work-img"> <img src="/images/portfolio-3.jpg" alt="" class="img-fluid"></div>
        </a>
        <div class="work-content">
          <div class="row">
            <div class="col-sm-10">
              <h2 class="w-title">Blockchain & P2P System (classified projects)</h2>
              <div class="w-more"> 
                <span class="w-ctegory">Decentralized Software Infra</span> / 
                <span class="w-date">Sep. 2018</span>
              </div>
                <span class="w-date">Designing and implementing backend systems for decentralized and blockchain-based applications, utilizing modern technologies to ensure security and scalability.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<style>
  .work-img {
    display: block;
    overflow: hidden;
    height: 220px;
  }

  .work-content {
    padding: 2rem 3% 1rem 4%;
  }

  .w-title {
    font-size: 1.2rem;
  }
</style>