<!-- Geng Wei, Tu | 301337045 -->
<!-- footer -->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-sm-4 col-md col-6 col">
        <h5 class="quick_link">Quick links</h5>
        <ul class="footer_ul">
          <li><a href="/about-me">About me</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact-me">Contact me</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  /* footer style */
  footer {
    width: 100%;
    background-color: #263238;
    min-height: 200px;
    padding: 10px 0px 25px 0px;
  }

  footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
  }

  .quick_link {
    color: #FFF;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .footer_ul {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
  }

  .footer_ul li {
    padding: 0px 0px 5px 0px;
  }

  .footer_ul li a {
    color: #CCC;
  }

  .footer_ul li a:hover {
    color: #fff;
    text-decoration: none;
  }

  .bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
  }
</style>