<!-- services section -->
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center mt-4">
        <h3 class="title-a">Services</h3>
        <div class="line-mf"></div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="service-box">
        <div class="col-sm-12">
          <img src="/images/system-design.jpg" class="img-fluid rounded b-shadow-a fix-height" alt="">
        </div>
        <div class="service-content">
          <h2 class="s-title">System Design</h2>
          <p class="s-description"> Significant experience in designing systems for frontend, backend, and distributed systems. I am well-versed in various front-end technologies such as React, Angular, and Vue and backend technologies such as Node.js, Golang, Python, and Java. I have experience in building scalable, high-performance systems and utilizing microservices architecture. Additionally, I am proficient in distributed systems and have experience in designing and implementing solutions for high availability and fault tolerance.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="service-box">
        <div class="col-sm-12">
          <img src="/images/data-analysis.jpg" class="img-fluid rounded b-shadow-a fix-height" alt="">
        </div>
        <div class="service-content">
          <h2 class="s-title">Data Engineering</h2>
          <p class="s-description"> I have some experience in data engineering and data analysis, including working with big data technologies such as Hadoop and Spark. I can provide services such as designing and implementing data pipelines, data warehousing, and data modeling. Additionally, I can utilize SQL and Python for data analysis and visualization. I am eager to learn and improve my skills in this field and can work with clients to understand their specific data needs and provide tailored solutions.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="service-box">
        <div class="col-sm-12">
          <img src="/images/cloud-computing.jpg" class="img-fluid rounded b-shadow-a fix-height" alt="">
        </div>
        <div class="service-content">
          <h2 class="s-title">Cloud Computing</h2>
          <p class="s-description">I have extensive experience in AWS and GCP cloud computing platforms, including knowledge in various services such as EC2, S3, Lambda, and Cloud Functions. I can provide services such as cloud architecture design, deployment strategies, and migrating and scaling applications to the cloud. My expertise in these platforms allows me to understand the customers' needs and provide tailored solutions to optimize their infrastructure and reduce costs.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);
  }

  .service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
  }

  .service-box .s-description {
    color: #4e4e4e;
    text-align: left;
    height: 170px;
  }

  .fix-height {
    height: 250px;
  }
</style>